body{
	margin-top: 70px;
}
.container-max-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
	margin-bottom: 0px;
	border: 0px solid transparent;
}
.navbar-default{
	background: #fff;
	font-weight: 300;
}
.navbar-nav>li>a {
	text-transform: uppercase;
	font-size: 15px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-nav>li.active>a{
	background-color: transparent !important;
	color: #e14e56 !important;
}
.navbar-nav>li>a:hover{
	color: #e14e56 !important;
}
.slider-banner-home{
	background: url('../images/slider-1.jpg');
	background-size: cover;
	height: 600px;
}
.slider-banner{
	background: url('../images/slider-1.jpg');
}
.slider-banner h1{
    font-size: 82px;
    margin-bottom: 0;
    letter-spacing: -0.05em;
    line-height: 1em;
    color: #fff;
}
.container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
.jumbotron {
	background: none;
    padding: 90px 0;
    margin-bottom: 0;
}
.jumbotron h1{
	font-family: 'Montserrat', sans-serif;
}
.jumbotron .subtitle{
	margin-bottom: 50px;
}
.btn-white{
	border-radius: 0px;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
}
.btn-white:hover{
	background: rgba(255,255,255,0.3);
	color: #fff;
	border: 2px solid #fff; 
}
.jumbotron h3{
	font-family: 'Open Sans';
	color: #fff;
	font-weight: 300;
}

.tour-packages{
	padding: 70px 0px 0px;
}
.tour-packages h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
.tour-packages h1{
	font-size: 50px;
}

.about{
	background: #3c7cc7;
	color: #fff;
	padding: 70px 0px;
}
.about h1{
	font-size: 50px;
	font-family: 'Montserrat';	
}
.about h3{
	color: #fff;
}
.why-choose-us{
	background: #ff6c60;
	color: #fff;
	padding: 70px 0px 4	0px;
}
.why-choose-us h1{
	font-size: 50px;
	font-family: 'Montserrat';
}
.why-choose-us h3{
	color: #fff;
}
.why-choose-us .row{
	border-right: 1px solid #f4f4f4;
}
.icon .col-sm-6, .icon .col-sm-4{
	border-right: 1px solid #f4f4f4;
	min-height: 450px;
}
.footer-bg{
	padding: 20px 0;
	background: #ff6c60;
	color: #fff;
}
.footer-bg h3{
	font-family: 'Open Sans', sans-serif;
}
.copyright{
	border-top: 1px solid #fd777e;
	margin-top: 20px;
}
.copyright h4 small{
	color: #fff;
}
.contact-front{
	padding: 70px 0px;
}
.contact-front h1{
	font-size: 50px;
	font-family: 'Montserrat', sans-serif; 
}
.form-control{
	height: 100%;
}
.form-group label{
	font-size: 18px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="phone"], select, textarea.form-control, button[type="submit"]{
	border-radius: 0px !important;
	padding: 10px !important;
	font-size: 18px !important;
}
.icon h1{
	margin-top: 90px;
	color: #ff6c60;
	font-size: 90px;
}
.icon span{
	border-bottom: 4px solid #f4f4f4
}
.border-top{
	border-top: 1px solid #f4f4f4;
}
.input-group .form-control{
	height: 50px;
}