.wrapper{
    margin-top: 70px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
.package-wrap{
	margin-top: -79px;
    background: rgba(0,0,0,.5);
    z-index: 999;
    position: relative;
    -webkit-transition-property: margin-top;
    -webkit-transition-duration: .3s;
    padding: 1px 0px;
}
.package-wrap-front{
    margin-top: -83px;
    background: rgba(0,0,0,.5);
    z-index: 999;
    position: relative;
    -webkit-transition-property: margin-top;
    -webkit-transition-duration: .3s;
    padding: 1px 0px;   
}
.package-wrap a{
    font-weight: 600;
    color: #fff;
}
.package-wrap a:hover{
    font-weight: 600;
    color: #fff;
}
.package-wrap:hover{
	margin-top: -110px;
}
.element h5 small{
    font-weight: 500;
    color: #cecece;
    font-family: 'Montserrat';
}
.explore{
	display: none;
}
.package-wrap h3, .package-wrap h5{
	color: #fff;
}
.explore{
	background: #ff6c60;
	position: relative;
}
.features-box-style1 {
    background: rgba(255,255,255,.1);
    width: 200px;
    height: 200px;
}
.features-box-style1-sub {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.vertical-center{
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}
.divider{
	margin-top: 50px;
    margin-bottom: 50px;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}

.icon-medium{
	font-size: 40px;
}
.display-block {
    display: block !important;
}

.alt-font{
	font-family: 'Montserrat';
}

.text-uppercase{
	text-transform: uppercase;
}

.center-col {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.sm-margin-eleven{
	margin-top: 70px;
}

.fr-contact{
	margin-bottom: 70px;
}

.itinerary p span {
    background-color: #ff6c60;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 7px 25px 0 0;
    padding: 2px 15px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
}
.itinerary p {
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding-left: 90px;
    clear:both;
}
.itinerary-cover-background{
    height: 675px; 
    background: rgba(2,2,2,.5);
}
.itinerary-cover-background{
    height: 550px; 
    background: rgba(2,2,2,.5);
    color: #fff;
}
.itinerary-cover-background h1{
    font-size: 50pt;
    text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.2),
           0 0 5px rgba(0,0,0,.2),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
.itinerary-cover-background h3{
    text-shadow: 1px 1px 1px #000;
}
.destination h1{
    font-size: 50px;  
    font-family: 'Montserrat', sans-serif;  
}
.travel-guide{
    background: rgba(255,255,255,.1);
    width: 200px;
    height: 250px;
}
.orange-font{
    color: #ff6c60;
}
.destination i{
    color: #ff6c60;
} 

.border-bottom{
    border-bottom: 1px solid #f4f4f4;
}
.border-right{
    border-right: 1px solid #f4f4f4;
}
.border-left{
    border-left: 1px solid #f4f4f4;
}

.travel-how-to-work {
    background: rgba(53,56,60,.7);
    padding: 20px 50px;
    display: inline-block;
}
.travel-how-to-work span{
    color: #fff;
}
.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.title-extra-large {
    font-size: 35px !important;
    line-height: 37px !important;
}
.border-bottom-transperent-white {
    border-bottom: 1px solid rgba(255,255,255,.15) !important;
}
.padding-twenty-three {
    padding: 12% !important;
}

.social{
padding: 30px 0px;
}

a.social-icon{
	padding: 0px !important;
}
.social-icon .fa {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px !important;
    line-height: 1;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
    background: none;
}
.site-header{
    box-shadow: 0px 0px 2px #7b7b7b;
}
nav .logo{
    margin-top: -5px;
    width: 100px;
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
}
nav.smaller .logo{
    -webkit-transition-property:  width;
    -webkit-transition-duration: 1s;
    width: 50px;
}
.social-icon .fa-google-plus {
    background-color: #dd4b39;
}
.social-icon .fa-facebook {
    background-color: #3b5998;
}
.social-icon .fa-twitter {
    background-color: #00aced;
}
.social-icon .fa-instagram {
    background-color: #54372f;
}

@media (max-width: 480px){
    .itinerary p span {
        position: inherit;
        display: inline-block;
    }   
    .itinerary p span {
        width: 100%;
        margin: 0 0 20px;
        text-align: center;
    }
    .itinerary p {
        padding-left: 0;
    }
}
.inclusions{
    list-style: none;
}
#map{
    height: 500px;
}
.contact-us{
    color: #ff6c60;
}
.title{
    text-transform: uppercase;
}
.front-text{
    z-index: 999;
}
.package-slider{
    padding: 0px;
}
.slide img{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);  
}
.btn{
  border-radius: 0px;
}
.book{
    margin-top:60px;
}
nav p{
    line-height: 45px;
    margin-left: 85px;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 1s;
}
nav.smaller p{
    line-height: 45px;
    margin-left: 65px;
    -webkit-transition-property:  margin-left;
    -webkit-transition-property:  margin-left;
    -webkit-transition-duration: 1s;
}