/* Write your custom CSS here */
input{
	text-transform: uppercase;
}
#login_form input{
	text-transform: none !important;
}
.proceed{
	margin-top: 150px;
}
.proceed .btn-rounded{
	font-size: 30px;
	padding: 10px 30px;
}
.intervention .btn{
	font-size: 20px;
}

ul.ui-autocomplete{
	list-style: none;
	background: #fff;
	width: 40%;
	padding-left: 10px;
	border: 1px solid #ccc;
	text-transform: uppercase;
}
ul.ui-autocomplete li:hover{
	cursor: pointer;
}
.ui-helper-hidden-accessible{
	display: none;
}
canvas{
	margin-top: 10px;
}
.panel-heading .panel-title{
	
}